.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 3em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: rgb(253, 108, 108);
}
#box2{
    background-color: rgb(154, 209, 143);
}
#box3{
    background-color: rgb(55, 139, 165);
}
#box4{
    background-color: rgb(102, 69, 95);
}